<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/CSS/about.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    body {
        background-color: #0b1f3a;
        color: white;
      }
</style>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
    <a class="navbar-brand" href="/">My Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/certification">Certifications</a></li>
        <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
<body>
  <div class="container py-5">

    <h2 class="section-title">🎓 Schooling</h2>
    <p>I completed my schooling at <strong>Sidhaartha Matric Hr Sec School,Sevvapet,Thiuvallur</strong>, where I built a strong foundation in mathematics, science, and computer basics.</p>

    <h2 class="section-title">🎓 Undergraduation</h2>
    <p>I pursued my B.Sc. in Computer Science from <strong>D.R.B.C.C.C Hindu College.Pattabiram,Chennai</strong>. Throughout my academic journey, I gained experience in programming, web development, and database management systems.</p>

    <h2 class="section-title"> 🛠️ Experience</h2>
    <p>I'm a <strong>Fresher</strong> looking for a role to apply my skills as a python developer or a data analyst. Ready to apply my knowledge in technical and data driven fields.</p>
    <h2 class="section-title">💡 Skills</h2>
    <ul>
      <li>Python</li>
      <li>SQL</li>
      <li>PHP</li>
      <li>MS Excel</li>
      <li>Power BI</li>
      <li>Java Basics</li>
      <li>HTML</li>
      <li>Handling AI Tools</li>
    </ul>

    <h2 class="section-title">🏆 Academic Achievements</h2>
    <ul>
      <li>Member in a Social Service Club [ National Service Scheme ]</li>
      <li>Department President for 1 year</li>
      <li>Department Document Co-ordinator for 1 year</li>
      <li>Presented a paper on Art of data visualization in Economics</li>
    </ul>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
