<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Projects</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="../static/CSS/proj.css">
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
    <a class="navbar-brand" href="/">My Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/certification">Certifications</a></li>
        <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>


  <div class="container py-5">
    <h2 class="section-title">💻 My Projects</h2>

    <div class="card bg-dark text-white mb-4 shadow-sm border border-info">
        <div class="card-body">
          <h4 class="card-title text-info">Number Guessing Game</h4>
          <p class="card-text">Languages used: Python - random , math</p>
          <a href="https://github.com/Rajeshwaranjy/python/blob/main/Number_guessing.py" class="btn btn-outline-info" target="_blank">
            View on GitHub
          </a>
        </div>
    </div>


    <div class="card bg-dark text-white mb-4 shadow-sm border border-info">
      <div class="card-body">
        <h4 class="card-title text-info">Wordguess Game</h4>
        <p class="card-text">Languages used: Python - random , collections</p>
        <a href="https://github.com/Rajeshwaranjy/python/blob/main/wordguess.py" class="btn btn-outline-info" target="_blank">
          View on GitHub
        </a>
      </div>
    </div>

    <div class="card bg-dark text-white mb-4 shadow-sm border border-info">
      <div class="card-body">
        <h4 class="card-title text-info">Calculator</h4>
        <p class="card-text">Languages used: Python - tkinter</p>
        <a href="https://github.com/Rajeshwaranjy/python/blob/main/Calculator.py" class="btn btn-outline-info" target="_blank">
          View on GitHub
        </a>
      </div>
    </div>

    <div class="card bg-dark text-white mb-4 shadow-sm border border-info">
      <div class="card-body">
        <h4 class="card-title text-info">Snake Game</h4>
        <p class="card-text">Languages used: Python - random , tkinter</p>
        <a href="https://github.com/Rajeshwaranjy/python/blob/main/snake.py" class="btn btn-outline-info" target="_blank">
          View on GitHub
        </a>
      </div>
    </div>

    <div class="card bg-dark text-white mb-4 shadow-sm border border-info">
      <div class="card-body">
        <h4 class="card-title text-info">Stop Clock</h4>
        <p class="card-text">Languages used: Python - time , tkinter</p>
        <a href="https://github.com/Rajeshwaranjy/python/blob/main/stop_clock.py" class="btn btn-outline-info" target="_blank">
          View on GitHub
        </a>
      </div>
    </div>

    <div class="card bg-dark text-white mb-4 shadow-sm border border-info">
      <div class="card-body">
        <h4 class="card-title text-info">Units Conveter</h4>
        <p class="card-text">Languages used: Python</p>
        <a href="https://github.com/Rajeshwaranjy/python/blob/main/units.py" class="btn btn-outline-info" target="_blank">
          View on GitHub
        </a>
      </div>
    </div>

    <div class="card bg-dark text-white mb-4 shadow-sm border border-info">
      <div class="card-body">
        <h4 class="card-title text-info">QR Code Converter</h4>
        <p class="card-text">Languages used: Python - qrcode</p>
        <a href="https://github.com/Rajeshwaranjy/python/blob/main/QR.py" class="btn btn-outline-info" target="_blank">
          View on GitHub
        </a>
      </div>
    </div>
    
    <div class="card bg-dark text-white mb-4 shadow-sm border border-info">
      <div class="card-body">
        <h4 class="card-title text-info">Website for Aquarium World</h4>
        <p class="card-text">Languages used: </p>
        <p class="card-text">Python - flask , pymongo . werkzeug.security</p>
        <p class="card-text">HTML , CSS , Bootstrap , Java Script</p>
        <p class="card-text">PHP</p>
        <p class="card-text">SQL , MongoDB</p>
        <a href="https://github.com/Rajeshwaranjy/Aquarium_World" class="btn btn-outline-info" target="_blank">
          View on GitHub
        </a>
      </div>
    </div>

    <div class="card bg-dark text-white mb-4 shadow-sm border border-info">
      <div class="card-body">
        <h4 class="card-title text-info">Portfolio</h4>
        <p class="card-text">Languages used: Python - flask , HTML , CSS , Bootstrap</p>
        <a href="https://github.com/Rajeshwaranjy/Portfolio" class="btn btn-outline-info" target="_blank">
          View on GitHub
        </a>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
